.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border: 1px solid #ccc;
  padding: 10px;
}
.logo img {
  width: 100px;
  height: auto;
  display: inline-block;
}
.searchBar input {
  width: 1000;
  height: 50px;
  border-radius: 50px;
  padding-left: 10px;
  flex: 10;
  font-size: large;
  cursor: pointer;
  background-color: #9ea19e;
}

.userIcon img {
  flex: 1;
  width: 50px;
  height: auto;
  display: inline-block;
  padding-left: 30px;
}
